<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="menu">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">



                <li class="layui-nav-item">
                    <a class="" href="javascript:;">机构管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/web/orgEnter">机构录入</a></dd>
                        <dd><a href="/web/orgModify">机构变更</a></dd>
                        <dd><a href="/web/orgAudit">机构审核</a></dd>
                        <dd><a href="/web/channel/channelquery">机构查询</a></dd>
                        <dd><a href="/web/orgLogout">机构注销</a></dd>
                        <dd><a href="/web/orgBlocking">机构冻结</a></dd>
                        <dd><a href="">商户信息同步</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">后台管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="userManage">用户管理</a></dd>
                        <dd><a href="roleManage">角色管理</a></dd>
                        <dd><a href="menuManage">资源管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">机构管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">机构新增</a></dd>
                        <dd><a href="">机构修改</a></dd>
                        <dd><a href="">机构删除</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">交易统计查询</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/web/userHairpin">用户发行数据</a></dd>
                        <dd><a href="/web/passageMoney">通行费记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">异常处理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">黑名单管理</a></dd>
                        <dd><a href="javascript:;">对账单文件处理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">协议管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">协议查询</a></dd>
                        <dd><a href="javascript:;">协议变更</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>