<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">-->
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style type="text/css">
        .layui-input {
            width: 260px;
        }

        .layui-form-item .layui-inline {
            margin-left: 30px;
        }

        #layui-layer6.layui-layer.layui-layer-iframe layui-layer-border {
            top: 120.5px;
            left: 574px;
        }

        .layui-form-item {
            margin-bottom: 15px;
            clear: both;
            margin: 26px;
        }
        /*.layui-form-item .layui-inline {*/
        /*margin-left: 30px;*/
        /*top: 5px;*/
        /*}*/
    </style>
</head>
<body>


<form class="layui-form" action="/role/add">
    <input type="hidden" name="roleId" id="roleId" th:value="${roleId}">
    <input type="hidden" name="data" id="data" th:value="${data}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="roleName" id="roleName" value="" autocomplete="off" class="layui-input"
                   lay-verify="required">
        </div>
    </div>
    <!--<div class="layui-inline">-->
    <!--<label class="layui-form-label">密码</label>-->
    <!--<div class="layui-input-inline">-->
    <!--<input type="text" name="password" autocomplete="off" class="layui-input">-->
    <!--</div>-->
    <!--</div>-->


    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="启用" checked="">
            <input type="radio" name="status" value="0" title="停用">
        </div>
    </div>

    <div class="form-inline clearfix" style="margin-top:30px;margin-left:26px;">
        <div class="form-group col-md-6">
            <strong class="col-sm-5 control-label">功能权限</strong>
            <div class="col-sm-10">
                <ul id="menuTree" class="ztree"></ul>
            </div>
        </div>
        <div class="form-group col-md-6">
            <strong class="col-sm-5 control-label">数据权限</strong>
            <div class="col-sm-10">
                <ul id="dataTree" class="ztree"></ul>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="dataCommit" lay-submit="" lay-filter="dataCommit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="../../../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<!--<script src="../../static/js/jstest.js" charset="utf-8"></script>-->
<script type="text/javascript" src="../../../static/lib/jquery/jquery-3.4.1.min.js"></script>
<!--<script type="text/javascript">
    $(function () {
        var data = data;  //获取选中行数据
        alert(JSON.stringify(data));
        $("#roleName").val(data.roleName);
        $("input[name='status']").eq(data.status).attr("checked", 'checked');
        // var id = $("#userId").val();
        // if (id != "") {
        //     $.ajax({
        //         url: "/sys/user/queryUserById",
        //         data: {"userId": id},
        //         dataType: "json",
        //         success: function (data) {
        //             // layer.msg(JSON.stringify(data.data));
        //             $("#username").val(data.data.username);
        //             $("#password").val(data.data.password);
        //             $("input[name='roleId']").eq(data.data.roleId).attr("checked", 'checked');
        //             $("input[name='status']").eq(data.data.status).attr("checked", 'checked');
        //         }, error: function () {
        //         }
        //     });
        // }
    });
</script>-->
<script>
    layui.use(['table', 'element', 'laypage', 'layer', 'form'], function () {
        var form = layui.form;
        var layer = layui.layer;

        vm.getMenuTree(null);

        vm.getDept();

        vm.getDataTree();
        // //监听提交
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return false;
        // });
        var menu_ztree;
        var menu_setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "menuId",
                    pIdKey: "parentId",
                    rootPId: -1
                },
                key: {
                    url: "nourl"
                }
            },
            check: {
                enable: true,
                nocheckInherit: true
            }
        };

        //部门结构树
        var dept_ztree;
        var dept_setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "deptId",
                    pIdKey: "parentId",
                    rootPId: -1
                },
                key: {
                    url: "nourl"
                }
            }
        };

        //数据树
        var data_ztree;
        var data_setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "deptId",
                    pIdKey: "parentId",
                    rootPId: -1
                },
                key: {
                    url: "nourl"
                }
            },
            check: {
                enable: true,
                nocheckInherit: true,
                chkboxType: {"Y": "", "N": ""}
            }
        };

        var vm = new Vue({
            methods:{
                getMenuTree: function(roleId) {
                    //加载菜单树
                    $.get(baseURL + "sys/menu/list", function(r){
                        menu_ztree = $.fn.zTree.init($("#menuTree"), menu_setting, r);
                        //展开所有节点
                        menu_ztree.expandAll(true);

                        if(roleId != null){
                            vm.getRole(roleId);
                        }
                    });
                },
                getDataTree: function(roleId) {
                    //加载菜单树
                    $.get(baseURL + "sys/dept/list", function(r){
                        data_ztree = $.fn.zTree.init($("#dataTree"), data_setting, r);
                        //展开所有节点
                        data_ztree.expandAll(true);
                    });
                },
                getDept: function(){
                    //加载部门树
                    $.get(baseURL + "sys/dept/list", function(r){
                        dept_ztree = $.fn.zTree.init($("#deptTree"), dept_setting, r);
                        var node = dept_ztree.getNodeByParam("deptId", vm.role.deptId);
                        if(node != null){
                            dept_ztree.selectNode(node);

                            vm.role.deptName = node.name;
                        }
                    })
                },
                deptTree: function(){
                    layer.open({
                        type: 1,
                        offset: '50px',
                        skin: 'layui-layer-molv',
                        title: "选择部门",
                        area: ['300px', '450px'],
                        shade: 0,
                        shadeClose: false,
                        content: jQuery("#deptLayer"),
                        btn: ['确定', '取消'],
                        btn1: function (index) {
                            var node = dept_ztree.getSelectedNodes();
                            //选择上级部门
                            vm.role.deptId = node[0].deptId;
                            vm.role.deptName = node[0].name;

                            layer.close(index);
                        }
                    });
                },
                reload: function () {
                    vm.showList = true;
                    var page = $("#jqGrid").jqGrid('getGridParam','page');
                    $("#jqGrid").jqGrid('setGridParam',{
                        postData:{'roleName': vm.q.roleName},
                        page:page
                    }).trigger("reloadGrid");
                }
            }
        })

    });
</script>
</body>
</html>