<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">-->
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style type="text/css">
        .layui-input {
            width: 260px;
        }

        .layui-form-item .layui-inline {
            margin-left: 30px;
        }

        #layui-layer6.layui-layer.layui-layer-iframe layui-layer-border {
            top: 120.5px;
            left: 574px;
        }

        /*.layui-form-item .layui-inline {*/
        /*margin-left: 30px;*/
        /*top: 5px;*/
        /*}*/
    </style>
</head>
<body>


<form class="layui-form" action="/role/add">
    <input type="hidden" name="roleId" id="roleId" th:value="${roleId}">
    <input type="hidden" name="data" id="data" th:value="${data}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="roleName" id="roleName" value="" autocomplete="off" class="layui-input"
                   lay-verify="required">
        </div>
    </div>
    <!--<div class="layui-inline">-->
    <!--<label class="layui-form-label">密码</label>-->
    <!--<div class="layui-input-inline">-->
    <!--<input type="text" name="password" autocomplete="off" class="layui-input">-->
    <!--</div>-->
    <!--</div>-->


    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="启用" checked="">
            <input type="radio" name="status" value="0" title="停用">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="dataCommit" lay-submit="" lay-filter="dataCommit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="../../../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<!--<script src="../../static/js/jstest.js" charset="utf-8"></script>-->
<script type="text/javascript" src="../../../static/js.backstage/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        var data = data;  //获取选中行数据
        alert(JSON.stringify(data));
        $("#roleName").val(data.roleName);
        $("input[name='status']").eq(data.status).attr("checked", 'checked');
        // var id = $("#userId").val();
        // if (id != "") {
        //     $.ajax({
        //         url: "/sys/user/queryUserById",
        //         data: {"userId": id},
        //         dataType: "json",
        //         success: function (data) {
        //             // layer.msg(JSON.stringify(data.data));
        //             $("#username").val(data.data.username);
        //             $("#password").val(data.data.password);
        //             $("input[name='roleId']").eq(data.data.roleId).attr("checked", 'checked');
        //             $("input[name='status']").eq(data.data.status).attr("checked", 'checked');
        //         }, error: function () {
        //         }
        //     });
        // }
    });
</script>
<script>
    layui.use(['table', 'element', 'laypage', 'layer', 'form'], function () {
        var form = layui.form;
        var layer = layui.layer;


        // //监听提交
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return false;
        // });
    });
</script>
</body>
</html>