<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinpay.mapper.PartnerInfoMapper">
    <resultMap id="BaseResultMap" type="com.allinpay.entity.PartnerInfo">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR"/>
        <result column="PARTNER_TYPE" property="partnerType" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE_NO" property="businessLicenceNo" jdbcType="VARCHAR"/>
        <result column="RANK" property="rank" jdbcType="NUMERIC"/>
        <result column="SALER" property="saler" jdbcType="VARCHAR"/>
        <result column="LEGAL_NAME" property="legalName" jdbcType="VARCHAR"/>
        <result column="LEGAL_ID" property="legalId" jdbcType="VARCHAR"/>
        <result column="LEGAL_PHONE" property="legalPhone" jdbcType="VARCHAR"/>
        <result column="CONTACTOR" property="contactor" jdbcType="VARCHAR"/>
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="NUMERIC"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="DATE"/>
        <result column="SYS_USER" property="sysUser" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
      KID,EMAIL,PASSWORD,NICKNAME,STATUS,IS_VERIFY
    </sql>
    <update id="updateRefuseStatus" parameterType="string">
        update T_ETC_PARTNER_INFO set STATUS = 6, MODIFY_TIME = to_date(to_char(sysdate, 'yyyy-MM-dd')，'yyyy-MM-dd')
        WHERE PARTNER_ID = #{partnerId}
    </update>
    <update id="updateApproveStatus" parameterType="string">
        update T_ETC_PARTNER_INFO set STATUS = 1, MODIFY_TIME = to_date(to_char(sysdate, 'yyyy-MM-dd')，'yyyy-MM-dd')
        WHERE PARTNER_ID = #{partnerId}
    </update>
    <update id="updateApproveData" parameterType="com.allinpay.entity.PartnerInfo">
      update T_ETC_PARTNER_INFO set
        PARTNER_NAME = #{partnerInfo.partnerName,jdbcType=VARCHAR},
        PARTNER_TYPE = #{partnerInfo.partnerType,jdbcType=VARCHAR},
        BUSINESS_LICENCE_NO = #{partnerInfo.businessLicenceNo,jdbcType=VARCHAR},
        RANK = #{partnerInfo.rank,jdbcType=NUMERIC},
        SALER = #{partnerInfo.saler,jdbcType=VARCHAR},
        LEGAL_NAME = #{partnerInfo.legalName,jdbcType=VARCHAR},
        LEGAL_ID = #{partnerInfo.legalId,jdbcType=VARCHAR},
        LEGAL_PHONE = #{partnerInfo.legalPhone,jdbcType=VARCHAR},
        CONTACTOR = #{partnerInfo.contactor,jdbcType=VARCHAR},
        CONTACT_PHONE = #{partnerInfo.contactPhone,jdbcType=VARCHAR},
        PARENT_ID = #{partnerInfo.parentId,jdbcType=VARCHAR},
        STATUS = #{partnerInfo.status,jdbcType=NUMERIC},
        MODIFY_TIME = #{partnerInfo.modifyTime,jdbcType=VARCHAR},
        SYS_USER = #{partnerInfo.sysUser,jdbcType=VARCHAR}
        WHERE PARTNER_ID = #{partnerInfo.partnerId}
    </update>

</mapper>