<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinpay.mapper.QueryMapper">

    <!-- 机构信息查询-->
    <resultMap id="BaseResultMap" type="com.allinpay.entity.OrgQueryBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR"/>
        <result column="PARTNER_TYPE" property="partnerType" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE_NO" property="businessLicenceNo" jdbcType="VARCHAR"/>
        <result column="RANK" property="rank" jdbcType="NUMERIC"/>
        <result column="SALER" property="saler" jdbcType="VARCHAR"/>
        <result column="LEGAL_NAME" property="legalName" jdbcType="VARCHAR"/>
        <result column="LEGAL_ID" property="legalId" jdbcType="VARCHAR"/>
        <result column="LEGAL_PHONE" property="legalPhone" jdbcType="VARCHAR"/>
        <result column="CONTACTOR" property="contactor" jdbcType="VARCHAR"/>
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SYS_USER" property="sysUser" jdbcType="VARCHAR"/>
        <result column="PARTNER_ADDRESS" property="partnerAddress" jdbcType="VARCHAR"/>
        <result column="LICENSE" property="license" jdbcType="VARCHAR"/>
        <result column="ID_FRONT" property="idFront" jdbcType="VARCHAR"/>
        <result column="ID_BACK" property="idBack" jdbcType="VARCHAR"/>
        <result column="AGREEMENT" property="agreement" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTimeX" jdbcType="VARCHAR"/>
        <result column="MODIFY_TIME" property="modifyTimeX" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryOrgInfo"  resultMap="BaseResultMap" parameterType="com.allinpay.entity.OrgQueryVo">
        select parinfo.PARTNER_ID,parinfo.PARTNER_NAME,
        parinfo.PARTNER_TYPE,
        parinfo.BUSINESS_LICENCE_NO,parinfo.RANK,parinfo.SALER,parinfo.LEGAL_NAME,parinfo.LEGAL_ID,
        parinfo.LEGAL_PHONE,parinfo.CONTACTOR,parinfo.CONTACT_PHONE,parinfo.PARENT_ID,parstatus.status parstatus,
        parinfo.SYS_USER,parinfo.PARTNER_ADDRESS,parinfo.LICENSE,parinfo.ID_FRONT,parinfo.ID_BACK,parinfo.AGREEMENT,
        to_char(parinfo.CREATE_TIME,'yyyy-mm-dd HH24:mi:ss') CREATE_TIME,
        to_char(parinfo.MODIFY_TIME,'yyyy-mm-dd HH24:mi:ss') MODIFY_TIME,SECRET_KEY,paraud.FAIL_REASON,#{orgque.url} URL
        from T_ETC_PARTNER_INFO parinfo
        left join T_ETC_PARTNER_STATUS parstatus on parinfo.status = parstatus.DICT_ID
        left join T_ETC_PARTNER_AUDIT paraud on parinfo.partner_id = paraud.partner_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="orgque.partnerId != null and orgque.partnerId != ''">
                AND parinfo.PARTNER_ID =#{orgque.partnerId}
            </if>
            <if test="orgque.partnerName != null and orgque.partnerName != ''">
                AND parinfo.PARTNER_NAME like '%' || #{orgque.partnerName} || '%'
            </if>
            <if test="orgque.partnerType != null and orgque.partnerType != ''">
                AND parinfo.PARTNER_TYPE =#{orgque.partnerType}
            </if>
            <if test="orgque.sbstatus != null and orgque.sbstatus != ''">
                AND parinfo.STATUS in ${orgque.sbstatus}
            </if>
            <if test="orgque.status != null and orgque.status != ''">
                AND parinfo.STATUS =#{orgque.status}
            </if>
            <if test="orgque.parentId != null and orgque.parentId != ''">
                AND parinfo.PARENT_ID =#{orgque.parentId}
            </if>

            <if test="orgque.createTimeStart != null">
                AND parinfo.CREATE_TIME between #{orgque.createTimeStart} and #{orgque.createTimeEnd}
            </if>
            <if test="orgque.modifyTimeStart != null">
                AND parinfo.MODIFY_TIME between #{orgque.modifyTimeStart} and #{orgque.modifyTimeEnd}
            </if>
        </trim>
        order by parinfo.CREATE_TIME desc
    </select>

    <!--通行费纪录查询-->
    <resultMap id="PassageMoneyResultMap" type="com.allinpay.entity.PassageMoneyBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR"/>
        <result column="LICENSE" property="license" jdbcType="VARCHAR"/>
        <result column="ORDERNO" property="orderNo" jdbcType="VARCHAR"/>
        <result column="TRADE_DATE" property="tradedate" jdbcType="VARCHAR"/>
        <result column="AMOUNT" property="amount" jdbcType="VARCHAR"/>
        <result column="ENTRANCE" property="entrance" jdbcType="VARCHAR"/>
        <result column="EXITWAY" property="exitway" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryPassagemoney" resultMap="PassageMoneyResultMap" parameterType="com.allinpay.entity.PassageMoneyVo">
        select PARTNER_ID,PARTNER_NAME,LICENSE,ORDERNO, to_char(TRADE_DATE,'yyyy-mm-dd HH24:mi:ss') TRADE_DATE,
        AMOUNT,ENTRANCE,EXITWAY
        from T_ETC_PASSAGEMONEY_DATE passmo
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="passm.partnerId != null and passm.partnerId != ''">
                AND passmo.PARTNER_ID =#{passm.partnerId}
            </if>
            <if test="passm.license != null and passm.license != ''">
                AND passmo.LICENSE like '%' || #{passm.license} || '%'
            </if>
            <if test="passm.createTimeStart != null">
                AND passmo.TRADE_DATE between #{passm.createTimeStart} and #{passm.createTimeEnd}
            </if>
        </trim>
        order by TRADE_DATE desc
    </select>

    <!--发卡记录查询-->
    <resultMap id="UserhairMap" type="com.allinpay.entity.UserhairpinBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="AUTH_ID" property="authId" jdbcType="VARCHAR"/>
        <result column="AUTH_NAME" property="authName" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="REQ_NO" property="orderNo" jdbcType="VARCHAR"/>
        <result column="REQ_TIME" property="reqtime" jdbcType="VARCHAR"/>
        <result column="ISSUE_STATUS" property="issuestatus" jdbcType="VARCHAR"/>
        <result column="CAR_NO" property="carno" jdbcType="VARCHAR"/>
        <result column="REAL_PHONE" property="realphone" jdbcType="VARCHAR"/>
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realname" jdbcType="VARCHAR"/>
        <result column="ISSUE_MSG" property="issuemsg" jdbcType="VARCHAR"/>
        <result column="FINISH_TIME" property="finishtime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryUserhairpin" resultMap="UserhairMap" parameterType="com.allinpay.entity.UserhairpinVo">
        select PARTNER_ID,AUTH_ID,AUTH_NAME,PHONE,REQ_NO,REQ_TIME,ISSUE_STATUS,CAR_NO,REAL_PHONE,ID,REAL_NAME,ISSUE_MSG,
                 FINISH_TIME
        from T_ETC_ISSUE suerhair
        <trim prefix="WHERE" prefixOverrides="AND">

            <if test="usrh.authId != null and usrh.authId != ''">
                AND suerhair.AUTH_ID like '%' || #{usrh.authId} || '%'
            </if>
            <if test="usrh.partnerId != null and usrh.partnerId != ''">
                AND suerhair.PARTNER_ID = #{usrh.partnerId}
            </if>
            <if test="usrh.authName != null and usrh.authName != ''">
                AND suerhair.AUTH_NAME like '%' || #{usrh.authName} || '%'
            </if>
            <if test="usrh.orderNo != null and usrh.orderNo != ''">
                AND suerhair.REQ_NO like '%' || #{usrh.orderNo} || '%'
            </if>
            <if test="usrh.signsStatus != null and usrh.signsStatus != ''">
                AND suerhair.ISSUE_MSG like '%' || #{usrh.signsStatus} || '%'
            </if>
            <if test="usrh.queryTimeStart != null and usrh.queryTimeStart != ''">
                AND suerhair.FINISH_TIME between #{usrh.queryTimeStart} and #{usrh.queryTimeEnd}
            </if>
        </trim>
        order by FINISH_TIME desc
    </select>

    <!--机构信息冻结、解冻、注销-->
    <update id="blockOrg">
        update T_ETC_PARTNER_INFO
        set STATUS=#{orgque.status},MODIFY_TIME=sysdate,SYS_USER=#{orgque.sysUser}
        WHERE partner_id=#{orgque.partnerId}
    </update>
    <select id="selectNormalList" resultMap="BaseResultMap">
      select * from T_ETC_PARTNER_INFO where STATUS = 1
    </select>
</mapper>