<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinpay.mapper.QueryMapper">

    <resultMap id="BaseResultMap" type="com.allinpay.entity.OrgQueryBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR"/>
        <result column="PARTNER_TYPE" property="partnerType" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE_NO" property="businessLicenceNo" jdbcType="VARCHAR"/>
        <result column="RANK" property="rank" jdbcType="NUMERIC"/>
        <result column="SALER" property="saler" jdbcType="VARCHAR"/>
        <result column="LEGAL_NAME" property="legalName" jdbcType="VARCHAR"/>
        <result column="LEGAL_ID" property="legalId" jdbcType="VARCHAR"/>
        <result column="LEGAL_PHONE" property="legalPhone" jdbcType="VARCHAR"/>
        <result column="CONTACTOR" property="contactor" jdbcType="VARCHAR"/>
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR"/>

        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SYS_USER" property="sysUser" jdbcType="VARCHAR"/>
        <result column="PARTNER_ADDRESS" property="partner_address" jdbcType="VARCHAR"/>
        <result column="LICENSE" property="license" jdbcType="VARCHAR"/>
        <result column="ID_FRONT" property="id_front" jdbcType="VARCHAR"/>
        <result column="ID_BACK" property="id_back" jdbcType="VARCHAR"/>
        <result column="AGREEMENT" property="agreement" jdbcType="VARCHAR"/>




        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="DATE"/>
    </resultMap>
    <select id="queryOrgInfo"  resultMap="BaseResultMap" parameterType="com.allinpay.entity.OrgQueryVo">
        select PARTNER_ID,PARTNER_NAME,
        case
        when PARTNER_TYPE ='00' then '银行'
        when PARTNER_TYPE ='01' then '汽车服务'
        when PARTNER_TYPE ='02' then '互联网平台'
        else '其他'
        end "PARTNER_TYPE",
        BUSINESS_LICENCE_NO,RANK,SALER,LEGAL_NAME,LEGAL_ID,
        LEGAL_PHONE,CONTACTOR,CONTACT_PHONE,PARENT_ID,parstatus.status parstatus,
        CREATE_TIME,MODIFY_TIME,SYS_USER,PARTNER_ADDRESS,LICENSE,ID_FRONT,ID_BACK,AGREEMENT
        from T_ETC_PARTNER_INFO parinfo
        left join T_ETC_PARTNER_STATUS parstatus on parinfo.status = parstatus.DICT_ID
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="orgque.partnerId != null and orgque.partnerId != ''">
                AND PARTNER_ID =#{orgque.partnerId}
            </if>
            <if test="orgque.partnerName != null and orgque.partnerName != ''">
                AND PARTNER_NAME like '%' || #{orgque.partnerName} || '%'
            </if>
            <if test="orgque.partnerType != null and orgque.partnerType != ''">
                AND PARTNER_TYPE =#{orgque.partnerType}
            </if>
            <if test="orgque.status != null and orgque.status != ''">
                AND STATUS =#{orgque.status}
            </if>
            <if test="orgque.parentId != null and orgque.parentId != ''">
                AND PARENT_ID =#{orgque.parentId}
            </if>

            <if test="orgque.createTimeStart != null">
                AND CREATE_TIME between #{orgque.createTimeStart} and #{orgque.createTimeEnd}
            </if>
            <if test="orgque.modifyTimeStart != null">
                AND MODIFY_TIME between #{orgque.modifyTimeStart} and #{orgque.modifyTimeEnd}
            </if>

<!--            <if test="orgque.modifyTimeStart != null and orgque.modifyTimeStart != ''">-->
<!--                AND MODIFY_TIME between-->
<!--                to_date(to_char(#{orgque.modifyTimeStart},'Dy Mon DD HH24:MI:SS "CST" YYYY'),'Dy Mon DD HH24:MI:SS "CST" YYYY','NLS_DATE_LANGUAGE = American')-->
<!--                and  to_date(to_char(#{orgque.modifyTimeEnd},'Dy Mon DD HH24:MI:SS "CST" YYYY'),'Dy Mon DD HH24:MI:SS "CST" YYYY','NLS_DATE_LANGUAGE = American')-->
<!--            </if>-->
<!--            <if test="audit.saler != null and audit.saler != ''">
                AND SALER like '%' || #{audit.saler} || '%'
            </if>-->
        </trim>
    </select>
</mapper>